{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'home.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'search.css' %}" type="text/css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="search-full-page">
        <div class="to-of-page">
            <a href="#" class="inutile">INUTILE</a>
            <ul class="top">
                <li><a href="index/" class="home-button"><img src="{% static '2x/outline_bungalow_black_24dp.png' %}" alt=""></a></a></li>
                <li><a href="account/" class="account-button"><img src="{% static '2x/outline_perm_identity_black_24dp.png' %}" alt=""></a></a></li>
                <li><a href="search/" class="search-button"><img src="{% static '2x/outline_search_black_24dp.png' %}" alt=""></a></a></li>
            </ul>
        </div>
        <div class="search-content">
            <div class="box1">
                <img src="http://unsplash.it?gravity=center" alt="">
            </div>
            <div class="box2">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box3">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box4">
                <img src="http://unsplash.it/1000/500?gravity=center" alt="">
            </div>
            <div class="box5">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box6">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box7">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box8">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box9">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
            <div class="box10">
                <img src="http://unsplash.it/500/500?gravity=center" alt="">
            </div>
        </div>
       

    </div>
    
</body>
</html>